html, body {
  background-color: gray;
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
#contain{
  margin: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}